/***
* New course style format.
***/
.section > li {
    width: 150px;
    height: auto;
    background: #f4f4f4;
    border-radius: 5px;
    transition: background 0.5s ease-in;
}

.section > li:hover {
    background: #dfdfdf;
}

.activity-item .activity-info,
.activity-item .activity-actions {
    flex-direction: unset;
    margin-left: auto;
    padding-left: 0.5rem;
    align-self: start;
    display: flex;
    justify-content: center;
}

.activityiconcontainer.lock {
    background-color: #4f5a60;
}

.activityiconcontainer.lock i {
    font-size: 1.4rem;
    color: white;
}

.activity-item:not(.activityinline) {
    border: 0px;
    padding: 0.1rem;
}

.activitytitle span.instancename,
.activitytitle a {
    font-size: 0.7375rem;
    line-height: 1.2;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activitytitle > span.instancename {
    opacity: 0.6;
}

.course-content .section.dropready li.activity.dropready.drop-up {
    border-top: unset;
    margin-top: unset;
    border-left: 1px solid #1d2125;
    margin-left: -1px;
}

.course-content .section.dropready li.activity.dropready.drop-down {
    border-bottom: unset;
    margin-bottom: unset;
    border-right: 1px solid #1d2125;
    margin-right: -1px;
}

.inplaceeditable.inplaceeditable-text .activitytitle a {
    width: 70px;
}

.badge {
    font-size: 70%;
}

/***
* Inspirational quotes.
***/
.inspirationalquotesblock {
    min-height: 150px;
    height: 150px;
    max-height: 300px;
    background-color: $primary;

    .iconstart {
        color: rgba(255, 255, 255, 7%);
        font-size: 2em;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .iconend {
        color: rgba(255, 255, 255, 7%);
        font-size: 2em;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .quote-author {
        color: #ffffffba;
        font-style: italic;
        font-size: 0.8375rem;
    }
}

/***
* LSMwithAI mark.
***/
p.lmswithai {
    color: #c1c1c1;
    font-size: 0.7rem;

    span {
        padding-right: 5px;
    }
}

/***
* Footer.
***/
#page-footer {
    a {
        color: #c1c1c1;
    }
}
