.insquotes {
    height: 60px;
    position: relative;
    width: auto;
}
.insquotes ul {
    list-style:none;
    position:relative;
}
@-webkit-keyframes anim_quotes {
    0% {
        opacity:0;
    }
    [[setting:visibleprecstart]] {
        opacity:1;
    }
    [[setting:visibleprecend]] {
        opacity:1;
    }
    [[setting:visibleprechide]] {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_quotes {
    0% {
        opacity:0;
    }
    [[setting:visibleprecstart]] {
        opacity:1;
    }
    [[setting:visibleprecend]] {
        opacity:1;
    }
    [[setting:visibleprechide]] {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
.insquotes ul li {
    color: white;
    opacity:0;
    position:absolute;
    top:0;
    -webkit-animation-name: anim_quotes;
    -webkit-animation-duration: [[setting:maxduration]];
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0s;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_quotes;
    -moz-animation-duration: [[setting:maxduration]];
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0s;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}